﻿@using ChatApp.Signalar.Helper

    @{
        ViewBag.Title = "Chat";
    }

    <h2>Chat With Friend</h2>

    <div class="container">
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Message</label>
            <textarea class="form-control" id="message" rows="3"></textarea>
        </div>
        <input type="button" id="sendmessage" value="Send" />
        <h3>Messages</h3>
        <ul id="discussion"></ul>
    </div>



    @section scripts {
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script type="text/javascript">
            $(function () {
                var connection = $.hubConnection();
                var messageHubProxy = connection.createHubProxy('messageHub');
                var currentUserId = '@HttpContextHelper.Current.UserId';
                var reciverUserId = '@ViewBag.ReceiverId';


                messageHubProxy.on('addNewMessage', function (userId, message) {

                    $('#discussion').append('<li><strong>' + htmlEncode('@HttpContextHelper.Current.FullName')
                            + '</strong>: ' + htmlEncode(message) + '</li>');
                    });

                $('#sendmessage').click(function () {
                        messageHubProxy.invoke('SendMessage', reciverUserId, $('#message').val());
                        $('#message').val('').focus();

                         $('#discussion').append('<li><strong>' + htmlEncode('@HttpContextHelper.Current.FullName')
                             + '</strong>: ' + htmlEncode($('#message').val()) + '</li>');
                });

                    connection.start();
        });
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
    }